@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $font-family;
  color: $dark-color;
  background: $grey-color;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
